.h5-info-panel {
  background: rgba($color: #181818, $alpha: 0.8);
  border-radius: 4px;
  color: #fff;
  left: 10px;
  position: absolute;
  top: 10px;
  min-width: 26em;
  z-index: 100;

  .close-button {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
  }

  .info-panel-content {
    padding: 5px;

    div {
      display: inline-block;
      font-weight: 500;
      padding: 0 .5em;
      text-align: right;
      width: 10em;
    }
  }
}